@font-face {
    font-family: 'OutFit';
    src: url('./assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 2%;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    background-color:bisque;
}

p {
    Font-size: 16px;

}
.container-recipe {
    background-color: whitesmoke;
    border-radius: 2%;
    width: 60%;
    height: 110%;
    margin-left: 20%;    
}

.description{
    color: hsl(30, 10%, 34%);
    font-family: "OutFit";
}

  

.img-omelette{ 
    width: 90%;
    position: inherit;
    border-radius: 4%;
    margin-left: 5%;
    margin-top: 5%;
}

li {
    color: hsl(30, 10%, 34%);
    padding-bottom: 2%;
}

.title-preperation{
    color: hsl(332, 51%, 32%);
    margin-left: 2%;
    margin-top: 2%;
    font-weight: 700;
}

.container-preparation{
    background-color: hsl(330, 100%, 97%);
    padding-top: 1%;
    padding-bottom: 1%;
   
}

.container-ingredients {
    padding-top: 1%;
}

.container-intructions {
    padding: 1%;
}

h2 { 
    color: hsl(14, 45%, 36%);
}

hr {
    margin-left: 5%;
    margin-right: 5%;
}


div {
    margin-left: 5%;
    margin-right: 5%;
}

.separate {
    margin-left: 0%;
    margin-right: 0%;
}
table { 
    border-spacing: 5px;
    border-collapse: separate;
}

td {
    width: 10%;
    padding-left: 12%;
}

.td-name {
    color: hsl(30, 10%, 34%);
    font-weight: 400;
}

.td-value {
    color: hsl(14, 45%, 36%);
    font-weight: 800;
}